body[b-ldsbbc9oyx] {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    min-width: 100vw;
}

*[b-ldsbbc9oyx] {
    font-family: Poppins;
}

p[b-ldsbbc9oyx] {
    margin: 10px;
    text-align: center;
}

#title[b-ldsbbc9oyx] {
    font-size: 18px;
    font-weight: bold;
}

.desc[b-ldsbbc9oyx] {
    font-size: 15px;
}

#circle-chart[b-ldsbbc9oyx] {
    position: relative;
    width: 300px;
}

#center-circle[b-ldsbbc9oyx] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid lightgray;
    background: #2c2e5e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    top: 90px;
    left: 100px;
    position: absolute;
    z-index: 15;
    box-shadow: 4px 3px 4px 1px #7c7373;
}

#indicator-area[b-ldsbbc9oyx] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 90px;
    left: 100px;
    position: absolute;
    z-index: 10;
}

#indicator-container[b-ldsbbc9oyx] {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    translate: -40px 0px;
    transform: rotate(90deg);
}

#indicator[b-ldsbbc9oyx] {
    transform: rotate(67deg);
    z-index: 2;
}

#indicator-pointer[b-ldsbbc9oyx] {
    width: 35px;
    height: 30px;
    background-color: #2c2e5e;
    transform: skew(45deg);
}

#point_count[b-ldsbbc9oyx] {
    color: #3d908d;
}
